.about-outer {
  width: 100%;
  height: 9108px;
}

.about-span-image {
  width: 100%;
  height: 1010px;
  background-image: url("../assets/images/010_113_Sand_Camo_pdp_E-1200x700.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: none;
}

.about-image-span-text {
  position: relative;
  top: 880px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  font-size: 60px;
  color: white;
  font-weight: 500;
  letter-spacing: 7px;
}

.about-text-one-outer {
  width: 1814px;
  height: 485px;
  margin: 0 auto;
}
.about-text-one {
  width: 700px;
  height: 100%;
  font-size: 31px;
  position: relative;
  top: 40px;
  left: 40px;
}
.about-pictures-one-and-two-outer,
.about-pictures-three-and-four-outer,
.about-pictures-six-and-seven-outer {
  width: 1814px;
  height: 1249px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about-picture-one,
.about-picture-two,
.about-picture-three,
.about-picture-four,
.about-picture-six,
.about-picture-seven {
  width: 881px;
  height: 100%;
  background-size: cover;
  background-position: bottom;
  background-repeat: none;
}

.about-picture-one {
  background-image: url("../assets/images/nike-m-nsw-ce-ft-jggr-snl-.jpg");
}
.about-picture-two {
  background-image: url("../assets/images/white-shoes.PNG");
}

.about-pictures-three-and-four-outer {
  margin-top: 50px;
}

.about-picture-three {
  display: flex;
  align-items: center;
}
.about-inner-picture-three,
.about-picture-six-inner {
  width: 643px;
  height: 890px;
  background-size: cover;
  background-position: bottom;
  background-repeat: none;
  margin: 0 auto;
}
.about-inner-picture-three {
  background-image: url("../assets/images/6925962f_153d\ \(2\).jpg");
}
.about-picture-four {
  background-image: url("../assets/images/sitting.jpg");
}
.about-text-two-outer {
  width: 1814px;
  height: 508px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.about-text-two {
  width: 986px;
  height: 347px;
  font-size: 31px;
  margin: 0 auto;
}
.fashion {
  font-size: 29px;
  margin-left: 50px;
  color: rgb(53, 53, 53);
  letter-spacing: 1px;
}
.about-picture-five {
  width: 1815px;
  height: 1351px;
  background-image: url("../assets/images/Store.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: none;
  margin: 0 auto;
  margin-top: -20px;
}

.about-pictures-six-and-seven-outer {
  margin-top: 50px;
}
.about-picture-six {
  display: flex;
  align-items: center;
}
.about-picture-six-inner {
  background-image: url("../assets/images/about.PNG");
}
.about-picture-seven {
  background-image: url("../assets/images/IMG_9897_1080x.jpg");
}

.locations-text {
  width: 100%;
  height: 100px;
  margin-top: 40px;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
}
.locations-picture {
  width: 1815px;
  height: 1351px;
  background-image: url("../assets/images/screen_shot_2015-08-28_at_16.02.08.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: none;
  margin: 0 auto;
  margin-top: 20px;
}
.locations-lower-text-outer {
  width: 1815px;
  height: 347px;
  margin: 0 auto;
}
.locations-lower-text-inner {
  width: 50%;
  height: 100%;
  font-size: 31px;
  position: relative;
  top: 20px;
  left: 50px;
}
